# Data process and visualize using jupyter book - 1(24 Jan 2021)

## Introduction

  Today i will follow insturction from [Interactive Data Analysis with FigureWidget ipywidgets in Python](https://plotly.com/python/figurewidget-app/) to develop a form with HKGov's database.

---
## Importing libararies

In [1]:
import datetime
import numpy as np
import pandas as pd
import requests

import plotly.graph_objects as go
from ipywidgets import widgets

---
## Downloading material to process
We will download school list data from HKGov: [School Location and Information](https://data.gov.hk/en-data/dataset/hk-edb-schinfo-school-location-and-information) which contains he names, addresses, coordinates and other relevant information of government, private, aided, Direct Subsidy Scheme, English Schools Foundation and international schools, kindergartens and kindergartens cum-child care centre (as at 28 December 2021). For precise, the file link is: [http://www.edb.gov.hk/attachment/en/student-parents/sch-info/sch-search/sch-location-info/SCH_LOC_EDB.xlsx](http://www.edb.gov.hk/attachment/en/student-parents/sch-info/sch-search/sch-location-info/SCH_LOC_EDB.xlsx)

We will use this file as our raw data and visualize it.

In [2]:
url = 'http://www.edb.gov.hk/attachment/en/student-parents/sch-info/sch-search/sch-location-info/SCH_LOC_EDB.xlsx'
r = requests.get(url, allow_redirects=True)
open('schools.xlsx', 'wb').write(r.content)

df = pd.read_excel('schools.xlsx')
df = df.drop(df.columns[[0]], axis=1)

df.sample(2)

,ENGLISH CATEGORY,中文類別,ENGLISH NAME,中文名稱,ENGLISH ADDRESS,中文地址,LONGITUDE,經度,LATITUDE,緯度,...,SCHOOL LEVEL,學校類型,TELEPHONE,聯絡電話,FAX NUMBER,傳真號碼,WEBSITE,網頁,RELIGION,宗教
2791,Kindergartens,幼稚園,SAI KUNG PRE-SCHOOL GROUP,SAI KUNG PRE-SCHOOL GROUP,"159, CHE KENG TUK VILLAGE SAI KUNG NEW TERRITO...",西貢輋徑篤村一百五十九號,114.268842,114.268842,22.369990,22.369990,...,KINDERGARTEN,幼稚園,27917354,27917354,27921844,27921844,http://www.skip.edu.hk,http://www.skip.edu.hk,NOT APPLICABLE,不適用
2286,Kindergartens,幼稚園,ASSEMBLY OF GOD MCLEOD MEMORIAL KINDERGARTEN,神召會麥嘉倫紀念幼稚園,G/F WING SHUE HOUSE LEI MUK SHUE ESTATE PHASE ...,新界荃灣梨木樹邨第3期榮樹樓地下,114.136107,114.136107,22.377451,22.377451,...,KINDERGARTEN,幼稚園,26351351,26351351,35869191,35869191,http://www.mcleodkg.edu.hk,http://www.mcleodkg.edu.hk,PROTESTANTISM / CHRISTIANITY,基督教

---
## Find how many types of school is in HK
To do it, we can use unique() to find out unique item in array.
### Category

In [3]:
schoolTypes = []
chiSchoolTypes = df['中文類別'].unique()
for i in range(len(chiSchoolTypes)):
	schoolTypes.append(chiSchoolTypes[i])

tempTable = pd.DataFrame(schoolTypes)
tempTable.columns=['類別']
display(tempTable)

             類別
0          資助小學
1          資助中學
2        資助特殊學校
3        按位津貼中學
4      直接資助計劃小學
5      直接資助計劃中學
6    英基學校協會（小學）
7    英基學校協會（中學）
8          官立小學
9          官立中學
10     國際學校（小學）
11     國際學校（中學）
12     幼稚園暨幼兒中心
13          幼稚園
14         私立小學
15  私立中學（日校/夜校）

### Student Gender

In [4]:
genders = []
chiGenders = df['就讀學生性別'].unique()
for i in range(len(chiGenders)):
	genders.append(chiGenders[i])
	
tempTable = pd.DataFrame(genders)
tempTable.columns=['就讀學生性別']
display(tempTable)

  就讀學生性別
0     男女
1      女
2      男

### Religion

In [5]:
religions = []
chiReligion = df['宗教'].unique()
for i in range(len(chiReligion)):
	religions.append(chiReligion[i])
	
tempTable = pd.DataFrame(religions)
tempTable.columns=['宗教']
display(tempTable)

             宗教
0           基督教
1           不適用
2           天主教
3          N.A.
4            佛教
5            道教
6         儒釋道三教
7          伊斯蘭教
8           NaN
9            孔教
10            無
11           其他
12  CATHOLICISM
13          錫克教

---

### We also need to get numbers on each data

In [6]:
data = []
for row in df.loc():
  data_row = []
  for col_data in row:
    data_row.append(col_data)
print(data)

KeyError: 3634