# Data process and visualize using jupyter book

## Introduction
Today i will follow insturction from [Interactive Data Analysis with FigureWidget ipywidgets in Python](https://plotly.com/python/figurewidget-app/) to develop a form with HKGov's database.
---
## Importing libararies

In [1]:
import datetime
import numpy as np
import pandas as pd
import requests

import plotly.graph_objects as go
from ipywidgets import widgets

---
## Downloading material to process
We will download school list data from HKGov: [School Location and Information](https://data.gov.hk/en-data/dataset/hk-edb-schinfo-school-location-and-information) which contains he names, addresses, coordinates and other relevant information of government, private, aided, Direct Subsidy Scheme, English Schools Foundation and international schools, kindergartens and kindergartens cum-child care centre (as at 28 December 2021). For precise, the file link is: [http://www.edb.gov.hk/attachment/en/student-parents/sch-info/sch-search/sch-location-info/SCH_LOC_EDB.xlsx](http://www.edb.gov.hk/attachment/en/student-parents/sch-info/sch-search/sch-location-info/SCH_LOC_EDB.xlsx)

We will use this file as our raw data and visualize it.

In [2]:
url = 'http://www.edb.gov.hk/attachment/en/student-parents/sch-info/sch-search/sch-location-info/SCH_LOC_EDB.xlsx'
r = requests.get(url, allow_redirects=True)
open('schools.xlsx', 'wb').write(r.content)

df = pd.read_excel('schools.xlsx')
df = df.drop(df.columns[[0]], axis=1)

df.sample(2)

,ENGLISH CATEGORY,中文類別,ENGLISH NAME,中文名稱,ENGLISH ADDRESS,中文地址,LONGITUDE,經度,LATITUDE,緯度,...,SCHOOL LEVEL,學校類型,TELEPHONE,聯絡電話,FAX NUMBER,傳真號碼,WEBSITE,網頁,RELIGION,宗教
1960,Kindergarten-cum-child Care Centres,幼稚園暨幼兒中心,THE WOODLAND MONTESSORI PRE-SCHOOL (CAINE ROAD),THE WOODLAND MONTESSORI PRE-SCHOOL (CAINE ROAD),1/F TO 2/F ON FUNG BUILDING 110-118 CAINE ROAD...,香港堅道１１０－１１８號安峰大廈１樓至２樓,114.150141,114.150141,22.282697,22.282697,...,KINDERGARTEN-CUM-CHILD CARE CENTRES,幼稚園暨幼兒中心,25491211,25491211,25499011,25499011,http://www.woodlandschools.com/channel.php?cha...,http://www.woodlandschools.com/channel.php?cha...,NOT APPLICABLE,不適用
561,Aided Secondary Schools,資助中學,HOLY FAMILY CANOSSIAN COLLEGE,嘉諾撒聖家書院,33 INVERNESS ROAD KOWLOON,九龍延文禮士道33號,114.185407,114.185407,22.334309,22.334309,...,SECONDARY,中學,"23379123,23379080","23379123,23379080",23370827,23370827,http://www.hfcc.edu.hk,http://www.hfcc.edu.hk,CATHOLICISM,天主教

---
## Find how many types of school is in HK
To do it, we can use unique() to find out unique item in array.

In [3]:
schoolTypes = df['ENGLISH CATEGORY'].unique()
for type in schoolTypes:
	print(type)

Aided Primary Schools
Aided Secondary Schools
Aided Special Schools
Caput Secondary Schools
Direct Subsidy Scheme Primary Schools
Direct Subsidy Scheme Secondary Schools
English Schools Foundation (Primary)
English Schools Foundation (Secondary)
Government Primary Schools
Government Secondary Schools
International Schools (Primary)
International Schools (Secondary)
Kindergarten-cum-child Care Centres
Kindergartens
Private Primary Schools
Private Secondary Schools (Day/Evening)